@charset 'utf-8';
@import 'settings';
@import 'foundation';
@import 'motion-ui';
@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-breadcrumbs;
@include foundation-visibility-classes;
@include foundation-float-classes; // Reset

.outer {
  overflow: hidden;
  width: 100%;
}

#skiplinks {
  position: absolute;
  list-style: none;
  width: 16rem;
  top: 1rem;
  z-index: 101;
  margin: 0;

  li {
    position: absolute;
    width: 100%;
    background-color: $blue;
  }
}

main {
  padding: 0 $grid-gutter/4;
}

.green {
  background: $green;
}

.wrap {
  max-width: $global-width;
  margin: 0 auto;
}
// layout
// header Menu Button
.button {
  padding-top: $grid-gutter;
  @include breakpoint (xlarge) {
    padding-top: $grid-gutter/4;
  }
}

.header-symbol {
  width: rem-calc(40);
  height: rem-calc(40);
  position: absolute;
  top: rem-calc(-46);
  @include breakpoint (xlarge) {
    display: none;
  }
}

.menu-button {
  margin: $grid-gutter/4;
}

.menu-button-label {
  color: $white;
  vertical-align: middle;
}
// navigation

.main-nav {
  position: relative;
}

#main-menu {
  list-style-type: none;
  border-top: 1px solid $black;
  margin: 0;

  a {
    display: block;
    padding: $grid-gutter/6 $grid-gutter/2;
    margin-left: $grid-gutter/4;
    text-decoration: none;
    font-size: rem-calc(21);
    border-left: 5px solid $green;

    &:focus,
    &:hover {
      border-color: $black;
    }
  }
}
@include breakpoint(xlarge) {
  #main-menu {
    border-top: none;
    border-bottom: 1px solid $black;
    margin-left: $grid-gutter*3;
    margin-right: $grid-gutter*2;
    text-align: center;

    li {
      display: inline-block;
    }

    a {
      border: none;
      font-size: rem-calc(24);
      font-weight: 200;
      padding-left: 0;
      margin: 0;
    }
  }
}
// social-nav

.social-nav {
  li {
    list-style-type: none;
  }
}

.f-icon {
  width: rem-calc(40);
  height: rem-calc(40);
  position: absolute;
  top: rem-calc(10);
  right: rem-calc(10);
  @include breakpoint(xlarge) {
    width: rem-calc(30);
    height: rem-calc(30);
    top: rem-calc(40);
    right: rem-calc(110);
  }
}
// logos

.logos {
  width: 100%;
  padding-top: $grid-gutter;
  padding-bottom: $grid-gutter/6;
}

.beans,
.pfennigparade {
  display: block;
  margin: auto;
}

.pfennigparade {
  width: rem-calc(120);
}

.beans {
  width: 50%;
  height: auto;
  margin-bottom: $grid-gutter*1.5;
}

.wrap {
  padding-top: $grid-gutter;
}
//Main

.slider {
  margin-left: -$grid-gutter/2;
  margin-right: -$grid-gutter/2;
}

.accordion {
  .a-link {
    background: $green;
    display: block;
    padding: $grid-gutter/6;
    position: relative;
  }

  .symbol {
    position: absolute;
    top: 0;
    right: 0;
    width: rem-calc(60);
    height: rem-calc(60);
  }

  .a-inner {
    padding: $grid-gutter/6;
  }

  .columns-2 {
    display: flex;
    flex-wrap: wrap;

    .a-text {
      width: 80%;
    }

    .a-price {
      width: 20%;
    }
  }
}

.bg-circle {
  margin-left: $grid-gutter/4;
  margin-right: $grid-gutter/4;

  li {
    list-style: none;
  }
}
//contact-items

.full {
  margin-left: -$grid-gutter/2;
  margin-right: -$grid-gutter/2;
  padding: $grid-gutter/4;
}

.t-item {
  margin-bottom: $grid-gutter;
}

.people {
  width: 100%;
  height: auto;
  padding: $grid-gutter/4;
}
@include breakpoint(large) {
  .team-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$grid-gutter/4;
    margin-right: -$grid-gutter/4;

    .t-item {
      width: 50%;
      padding: $grid-gutter/4;
    }
  }
}
