@charset 'utf-8';
@import 'settings';
@import 'foundation';
@import 'motion-ui';
@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-breadcrumbs;
@include foundation-visibility-classes;
@include foundation-float-classes; // Reset

.outer {
  overflow: hidden;
  width: 100%;
}

a {
  text-decoration: underline;
}

.symbol {
  width: rem-calc(40);
  height: rem-calc(40);
  color: $black;
}

main {
  padding: 0 $grid-gutter/4;
}

#skiplinks {
  position: absolute;
  list-style: none;
  width: 16rem;
  top: 1rem;
  z-index: 101;
  margin: 0;

  li {
    position: absolute;
    width: 100%;
    background-color: $blue;
  }
}
//Menu Button

.menu-button {
  cursor: pointer;
  margin: $grid-gutter/4 $grid-gutter/8;

  &.active {
    .menu-button-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

.menu-button-box {
  width: rem-calc(50);
  height: rem-calc(50);
  padding: rem-calc(10);
  display: inline-block;
  position: relative;
  vertical-align: middle;
  transition: transform 0.25s;
  background-color: $blue;
}

.menu-button-label {
  color: $dark-gray;
  vertical-align: middle;
}

.menu-button-inner {
  display: block;
  top: 100%;
  margin-top: rem-calc(-27);
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

  &,
  &::after,
  &::before {
    width: rem-calc(30);
    height: rem-calc(5);
    background-color: $dark-gray;
    border-radius: rem-calc(1);
    position: absolute;
    transition-property: transform;
    transition-delay: (.5s);
    transition-timing-function: ease;
  }

  &::after,
  &::before {
    content: '';
    display: block;
  }

  &::before {
    top: rem-calc(11);
    right: rem-calc(0);
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  }

  &::after {
    bottom: rem-calc(11);
    right: rem-calc(0);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}
@include breakpoint (xlarge) {
  .menu-button {
    display: none;
  }
}

#main-menu {
  border-top: 1px solid $white;
}

.main-nav {
  background: $blue;
}
//Nav Liste

#main-menu,
#meta-menu,
#search-menu,
.sub-menu {
  margin: 0;
}

#main-menu,
#meta-menu,
.search {
  padding: $grid-gutter/4 0;
}

#main-menu,
#meta-menu,
#search-menu {
  li {
    list-style-type: none;
  }

  a {
    position: relative;
    padding: $grid-gutter/8 $grid-gutter/4;
    display: block;
    font-size: rem-calc(19);
    color: $dark-gray;
    text-decoration: none;

    &:after {
      content: '';
      background: url("../img/icons.svg#arrow-black-right") center/contain no-repeat;
      width: rem-calc(25);
      height: rem-calc(25);
      display: inline-block;
      vertical-align: middle;
    }
  }

  .active {
    a {
      background: $white;
      margin-left: $grid-gutter/4;
      margin-right: $grid-gutter/4;
      color: $dark-gray;

      &:after {
        margin-left: rem-calc(10);
      }
    }
  }

  .s_icon {
    position: absolute;
    right: $grid-gutter/4;
  }

  .symbol {
    color: $black;
    vertical-align: middle;
  }
}

.main-nav {
  background: $blue;
  @include breakpoint (xlarge) {
    width: 25%;
    float: left;
    margin-right: $grid-gutter/2;
  }
}

.search {
  background: #c99;

  label {
    font-size: rem-calc(28);
    display: block;    
  }

  button,
  input {
    vertical-align: middle;
  }

  input {
    margin-right: rem-calc(10);
  }

  form {
    padding: $grid-gutter/4;
  }
}

.active {
  a {
    &::after {
      content: "";
      background: url("../img/icons.svg#arrow-black-right") center/contain no-repeat;
      opacity: 1;
      width: rem-calc(40);
    }
  }
}

a {
  &::after {
    content: '';
    opacity: 0;
    transition: all ease 0.2s;
  }

  &:hover {
    &:after {
      opacity: 1;
      margin-left: rem-calc(12);
    }
  }
}

.download-items {
  display: flex;
  flex-wrap: wrap;
}

.download-box {
  border: 1px solid $black;
  padding: $grid-gutter/2;
  margin-bottom: $grid-gutter/3;
  text-align: center;
  width: 100%;
}

.download-link {
  display: block;

  img {
    width: rem-calc(150);
    height: rem-calc(150);
    transition: all ease 0.6s;
  }

  h3 {
    margin-top: $grid-gutter;
  }

  &:focus,
  &:hover {
    img {
      transform: scale(.1);
    }
  }
}
@include breakpoint (large) {
  .download-box {
    width: 50%;
  }
}

#meta-menu {
  // clear: both;
}

#main {
  margin-right: $grid-gutter;

}
